# Ignore large data files or folders
data/
tileserver/fonts/
tileserver/sprites/
env/
k8s-manifests/
k8s/
k8s-edited/
k8s-styles/
archive/
*.zip
*.tar.gz
*.rar
*.csv
*.mbtiles
*.geojson
*.pbf
check_code